<div class="modal fade" id="cart-modal" tabindex="-1" aria-labelledby="cart-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
        <div class="modal-content">
            <div class="modal-header justify-content-end">
                <button type="button" class="btn btn-close me-1" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row text-center">
                        <h1>My Cart</h1>
                        <div class="hr"></div>
                    </div>
                    <div class="row align-items-center mt-3">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-1">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        </div>
                        <div class="col-lg-2 col-md-5 col-sm-5 col-5">
                            <div class="cover"></div>
                        </div>
                        <div class="col-lg-5 col-md-6 col-sm-6 col-6">
                            <h2 id="title">Lord of the Rings Trilogy Trilogy </h2>
                        </div>
                        <div class="col-md-1 col-sm-1 col-1 d-lg-none"></div>
                        <div class="col-lg-2 col-md-5 col-sm-5 col-5 text-center mt-md-3 mt-sm-3 mt-3 mt-lg-0">
                            <input type="number" id="cart-quantity">
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6 col-6 text-center mt-md-3 mt-sm-3 mt-3 mt-lg-0">
                            <h2>$49.99</h2>
                        </div>
                    </div>
                    <div class="row align-items-center mt-3">
                        <div class="col-lg-1 col-md-1 col-sm-1 col-1">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                        </div>
                        <div class="col-lg-2 col-md-5 col-sm-5 col-5">
                            <div class="cover"></div>
                        </div>
                        <div class="col-lg-5 col-md-6 col-sm-6 col-6">
                            <h2 id="title">Lord of the Rings Trilogy Trilogy </h2>
                        </div>
                        <div class="col-md-1 col-sm-1 col-1 d-lg-none"></div>
                        <div class="col-lg-2 col-md-5 col-sm-5 col-5 text-center mt-md-3 mt-sm-3 mt-3 mt-lg-0">
                            <input type="number" id="cart-quantity">
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-6 col-6 text-center mt-md-3 mt-sm-3 mt-3 mt-lg-0">
                            <h2>$49.99</h2>
                        </div>
                    </div>
                    <div class="hr"></div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="container text-end">
                    <button type="button" class="btn btn-checkout">Checkout</button>
                </div>
            </div>
        </div>
    </div>
</div>