<div class="modal fade" id="registration-modal" tabindex="-1" aria-labelledby="registration-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header justify-content-end">
                        <button type="button" class="btn btn-close me-1" data-bs-dismiss="modal"
                            aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row text-center">
                        <h1>Register</h1>
                    </div>
                    <form>
                        <div class="form-group">
                          <span class="icon">
                            <i class="fa-solid fa-user fa-lg"></i>
                          </span>
                          <input type="username" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <span class="icon">
                                <i class="fa fa-envelope"></i>
                            </span>
                            <input type="email" placeholder="Email">
                          </div>
                        <div class="form-group">
                            <span class="icon">
                                <i class="fa fa-lock"></i>
                            </span>
                            <input type="password" placeholder="Password">
                          </div>
                          <div class="form-group">
                            <span class="icon">
                                <i class="fa fa-lock"></i>
                            </span>
                            <input type="confirmPassword" placeholder="Confirm Password">
                          </div>
                      </form>
                      <div class="container">
                        <div class="row justify-content-center">
                          <div class="col-10 text-center">
                            <button type="button" class="btn btn-register d-inline mb-lg-2" data-bs-dismiss="modal">Register</button>
                          </div>
                          <div class="hr"></div>
                        </div>
                      </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="container">
                <div class="row text-center">
                  <p>Already signed up? <a data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#login-modal" id="loginModal" style="cursor: pointer; color: white; text-decoration: underline; margin-left:2px;">
                    Login ></a></p>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>