<div class="genrespage">
    <div class="head-banner curved">
        <img src="../../assets/new-world-4b.jpg" alt="head-banner" id="header-img">
        <div class="container">
            <div class="row header text-center">
                <h1>Genres</h1>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-1"></div>
                <div class="col-lg-6 col-md-10 text-center">
                    <div class="search">
                        <button id="search-icon">
                            <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                        </button>
                        <input type="text" class="search-input" placeholder="Search for genre by name...">
                    </div>
                </div>
                <div class="col-lg-3 col-md-1"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <h2 class="text-center">Results</h2>
        <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1 d-flex justify-content-center mt-5">
            <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                <div class="genre-card">
                    <h2 id="genre-card-title">
                        Action
                    </h2>
                </div>
            </div>
            <div class=" col-lg-4 col-md-6 col-sm-12 mt-3">
                <div class="genre-card">
                    <h2 id="genre-card-title">
                        Action
                    </h2>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                <div class="genre-card">
                    <h2 id="genre-card-title">
                        Action
                    </h2>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                <div class="genre-card">
                    <h2 id="genre-card-title">
                        Action
                    </h2>
                </div>
            </div>
            <div class=" col-lg-4 col-md-6 col-sm-12 mt-3">
                <div class="genre-card">
                    <h2 id="genre-card-title">
                        Action
                    </h2>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 mt-3">
                <div class="genre-card">
                    <h2 id="genre-card-title">
                        Action
                    </h2>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-5">
            <button class="btn show-more-btn">
                Show more
            </button>
        </div>
    </div>
</div>