<div class="mainpage">
    <div class="head-banner curved">
        <img src="../../assets/szl2a1ntqmfhv58a.jpg" alt="head-banner" id="header-img">
    </div>
    <div class="container">
        <div class="row d-flex align-items-center">
            <div class="col-lg-1 col-md-2 col-sm-3 col-3"></div>
            <div class="col-lg-10 col-md-8 col-sm-6 col-6 text-center" id="title">
                <h1>Trending</h1>
            </div>
            <div class="col-lg-1 col-md-2 col-sm-3 col-3 text-center">
                <button class="btn view-all-btn">
                    View All
                </button>
            </div>
        </div>
        <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1 d-flex justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <app-card></app-card>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <app-card></app-card>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <app-card></app-card>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <app-card></app-card>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <app-card></app-card>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <app-card></app-card>
            </div>
        </div>
    </div>
    <app-min-banner></app-min-banner>
    <div class="container top-deals">
        <div class="row d-flex align-items-center">
            <div class="col-lg-1 col-md-2 col-sm-3 col-3"></div>
            <div class="col-lg-10 col-md-8 col-sm-6 col-6 text-center" id="title">
                <h1>Top Deals</h1>
            </div>
            <div class="col-lg-1 col-md-2 col-sm-3 col-3 text-center">
                <button class="btn view-all-btn">
                    View All
                </button>
            </div>
        </div>
        <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1 d-flex justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <app-card></app-card>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <app-card></app-card>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <app-card></app-card>
            </div>
        </div>
    </div>
    <app-max-banner></app-max-banner>
    <div class="container categories">
        <div class="row d-flex align-items-center">
            <div class="col-lg-1 col-md-2 col-sm-3 col-3"></div>
            <div class="col-lg-10 col-md-8 col-sm-6 col-6 text-center" id="title">
                <h1>Categories</h1>
            </div>
            <div class="col-lg-1 col-md-2 col-sm-3 col-3 text-center">
                <button class="btn view-all-btn">
                    View All
                </button>
            </div>
        </div>
        <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1 d-flex justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-12">
                <app-card></app-card>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <app-card></app-card>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <app-card></app-card>
            </div>
        </div>
    </div>
</div>