<div class="modal fade" id="product-details-modal" tabindex="-1" aria-labelledby="product-details-modal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="modal-header justify-content-end">
                <button type="button" class="btn btn-close me-1" data-bs-dismiss="modal" aria-label="Close">X</button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                            <div class="cover" [ngStyle]="{'background-image': getImageUrl()}">
                            </div>
                        </div>
                        <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                            <h1>{{ activeGame.length > 0 ? activeGame[0].title : '' }}</h1>
                            <h3 class="mt-2">Genre : <span *ngFor="let genre of activeGame[0]?.genres">{{
                                    genre.genre_name }}, </span>
                            </h3>
                            <h3 class="mt-4">Description : <span
                                    *ngIf="activeGame.length > 0 && activeGame[0]?.description !== null">{{
                                    activeGame[0].description }}</span>
                                <span *ngIf="activeGame.length > 0 && activeGame[0]?.description === null">No
                                    description</span>
                            </h3>
                            <div class="row align-items-center mt-4">
                                <div class="col-8">
                                    <h2>Price : <span>${{ activeGame.length > 0 ? activeGame[0].moby_score : ''
                                            }}</span></h2>
                                </div>
                                <div class="col-4">
                                    <button class="btn add-to-cart-btn"
                                        (click)="addItemToCart(activeGame[0].game_id)">Add
                                        to cart</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>