<div class="footer">
    <div class="row contain">
        <div class="col-3">
            <h2>Opening Hours</h2>
            <hr id="footer-red-hr" class="me-4">
            <h3>Mon - Fri: 9am-8pm</h3>
            <h3>Sat - Sun: 10am-6pm</h3>
        </div>
        <div class="col-1">
            <img src="../../../assets/GameShop Logo.png" alt="logo" id="footer-logo">
        </div>
        <div class="col-2"></div>
        <div class="col-3">
            <img src="../../../assets/pngegg.png" alt="footer-charachter" id="footer-character">
        </div>
        <div class="col-1 d-flex justify-content-end align-items-center">
            <button class="footer-btn fb-btn">
                <i class="fa-brands fa-facebook-f fa-xl" id="facebook-icon"></i>
            </button>
        </div>
        <div class="col-1 d-flex justify-content-center align-items-center">
            <button class="footer-btn ig-btn">
                <i class="fa-brands fa-instagram fa-xl" id="instagram-icon"></i>
            </button>
        </div>
        <div class="col-1 d-flex justify-content-start align-items-center">
            <button class="footer-btn li-btn">
                <i class="fa-brands fa-linkedin-in fa-xl" id="linkedin-icon"></i>
            </button>
        </div>
    </div>
    <div class="contain">
        <hr id="footer-white-hr">
    </div>
    <div class="contain d-flex justify-content-center" id="copyright-clause">
        <h3>Copyright © 2023 Fire Games - All rights reserved</h3>
    </div>
</div>