<div class="searchpage">
    <div class="head-banner curved">
        <img src="../../assets/b758895ee26c31844c2ff4732c5ea04b.jpg" alt="head-banner" id="header-img">
        <div class="container">
            <div class="row header text-center">
                <h1>Search</h1>
            </div>
            <div class="row mb-3 mt-5">
                <div class="col-xl-2 col-lg-2 col-md-1 col-12 text-center"></div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-12 text-center">
                    <h4 class="col-12 col-md-4 col-lg-4">Genre</h4>
                    <button class="btn dropdown-btn dropdown-toggle" type="button" id="dropdownMenuButton1"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        All
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item">Action</a></li>
                        <li><a class="dropdown-item">Another action</a></li>
                        <li><a class="dropdown-item">Something else here</a></li>
                    </ul>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-12 text-center"></div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-12 text-center">
                    <h4 class="col-12 col-md-4 col-lg-4">Console</h4>
                    <button class="btn dropdown-btn dropdown-toggle" type="button" id="dropdownMenuButton2"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        All
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
                        <li><a class="dropdown-item">Action</a></li>
                        <li><a class="dropdown-item">Another action</a></li>
                        <li><a class="dropdown-item">Something else here</a></li>
                    </ul>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-1 col-12 text-center"></div>
            </div>
            <div class="row">
                <div class="col-xl-2 col-lg-2 col-md-1 col-12 text-center"></div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-12 text-center">
                    <h4 class="col-12 col-md-4 col-lg-4">Year</h4>
                    <button class="btn dropdown-btn dropdown-toggle" type="button" id="dropdownMenuButton3"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        All
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton3">
                        <li><a class="dropdown-item">Action</a></li>
                        <li><a class="dropdown-item">Another action</a></li>
                        <li><a class="dropdown-item">Something else here</a></li>
                    </ul>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-2 col-12 text-center"></div>
                <div class="col-xl-3 col-lg-3 col-md-4 col-12 text-center">
                    <h4 class="col-12 col-md-4 col-lg-4">Rating</h4>
                    <button class="btn dropdown-btn dropdown-toggle" type="button" id="dropdownMenuButton4"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        All
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton4">
                        <li><a class="dropdown-item">Action</a></li>
                        <li><a class="dropdown-item">Another action</a></li>
                        <li><a class="dropdown-item">Something else here</a></li>
                    </ul>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-1 col-12 text-center"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <h2 class="text-center">Results</h2>
        <div class="row row-cols-lg-4 row-cols-md-2 row-cols-sm-1 d-flex justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let game of searchGames">
                <app-card data-bs-toggle="modal" data-bs-target="#product-details-modal" [title]="game.title"
                    [price]="game.moby_score" [image]="game.sample_cover.image" [sale]="game.sale" [id]="game.game_id"
                    (click)="getActiveGame(game.game_id)"></app-card>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-5">
            <button class="btn show-more-btn">
                Show more
            </button>
        </div>
    </div>
</div>